@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r w-max max-w-full;
}

button {
  @apply border-pink-600 border-4 px-8 py-5 w-fit rounded-full text-xl font-bold transition-colors;
}

button:hover {
  @apply bg-pink-600 shadow;
}

.mask-container {
  @apply gradient-mask-r-0;
}

.shadow {
  @apply shadow-pink-600;
  box-shadow: var(--tw-shadow-color) 0px 7px 29px 0px;
}

.footer {
  @apply relative;
}

.footer > * {
  @apply z-10;
}

.footer::before {
  content: "";
  background-image: url("../images/minecraft.webp");
  background-repeat: no-repeat;
  @apply absolute top-0 left-0 right-0 w-full h-full opacity-20;
}

.img-grid {
  --max-width: 200px;
  grid-template-columns: repeat(auto-fit, var(--max-width));
  max-width: var(--max-width) * var(--columns);
  @apply grid;
}

.img-grid-cols-3 {
  --columns: 3;
}

a[href] {
  @apply text-pink-500 font-bold underline text-xl;
}

h1 {
  @apply gradient-text font-bold text-8xl from-purple-500 to-pink-600;
}

h2 {
  @apply font-bold text-8xl;
}

h3 {
  @apply font-bold text-5xl text-purple-500 my-10;
}

p {
  @apply text-3xl font-bold my-3;
}

table {
  @apply bg-slate-800 overflow-hidden rounded-2xl text-left dark:text-gray-400;
}

thead {
  @apply uppercase bg-gray-700 text-white;
}

th {
  @apply p-10 text-6xl font-bold;
}

tr {
  @apply border-b border-white/20;
}

hr {
  @apply text-pink-500 bg-pink-500;
}

td {
  @apply text-2xl p-5;
}
